<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <title>Pug Template</title> -->
    <title>#{title}</title>
    style
        include ../Static/style.css
</head>
<body>
    <div class="container">
        <ul>
            <li><a href="/"> Home</a></li>
            <li><a href="/"> About</a></li>
            <li><a href="/"> Contact Us</a></li>
        </ul>
    </div>
    <!-- <h1>HTML template using Pug</h1> -->
    <h1>#{content}</h1>
    <form action="/" method="post" id="contact">
        <input type="text" name="name" id="name" placeholder="Enter your Name">
        <input type="email" name="email" id="email" placeholder="Enter your Email">
        <button class="btn">Submit</button>
    </form>
</body>
</html>