extends base.pug

block scripts
  script(src='../Static/script.js')
block style
    style
        include ../Static/style.css
block content
    section#introSection 
        div Martina's Dance Class 
        div Get Fit With Dance!! 

    section#missionSection 
        h3 Our Missions 
        div.card 
            p Fitness Dance
            div.card-box
                div.card-image 
                    img(src="../Static/Fitness.png", alt="")
                div.card-content 
                    span Dance can help increase body-metabolism and reduce obesity. It can be a good cardiovascular exercise.
                
        div.card 
            p Classical Dance
            div.card-box
                div.card-image 
                    img(src="../Static/Classical.png", alt="")
                div.card-content 
                    span Indian classical dance is an umbrella term for various performance arts rooted in musical theatre styles, whose theory and practice can be traced to the Sanskrit text, Natyashastra.
            
        div.card 
            p Western Dance
            div.card-box
                div.card-image 
                    img(src="../Static/Western.png", alt="")
                div.card-content 
                    span Country–western dance encompasses any of the dance forms or styles which are typically danced to country-western music, and which are stylistically associated with American country and/or western traditions.

    section#sponsorsSection 
        h3 Our Sponsors 
        div.sponsor 
            img(src="../Static/Logo1.png", alt="Sponsor Image" Class="spImage")
            img(src="../Static/Logo2.png", alt="Sponsor Image" Class="spImage")
            img(src="../Static/Logo3.png", alt="Sponsor Image" Class="spImage")
            img(src="../Static/Logo4.png", alt="Sponsor Image" Class="spImage")